Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
