<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace"/> 
    <arg name="device_hostname"/>
    <group ns="$(arg robot_namespace)">
        <!-- Nodes that should be launched under a device HostName. -->
        <group ns="$(arg device_hostname)">
            <include file="$(find eros)/launch/nodes/master_node.launch">
                <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            </include>     
            <include file="$(find eros)/launch/nodes/snapshot_node_master.launch"> 
                 <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            </include> 
            <include file="$(find eros)/launch/nodes/datalogger_node.launch"> 
                 <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            </include>
        </group>
        <include file="$(find eros)/launch/nodes/diagnostic_node.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        </include>
    </group>
</launch>
