name: Documentation

on:
  workflow_call:


  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Documentation:
    # The type of runner that the job will run on
    runs-on: self-hosted # Options: self-hosted, development

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
        
    - name: Doxygen
      run: |
        ./scripts/dev_tools.sh doxygen
    
    - name: Deploy # Bug AB#1314
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # Default Doxyfile build documentation to html directory. 
        # Change the directory if changes in Doxyfile
        publish_dir: ./html
