<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" default="/"/> 
    <arg name="device_hostname" default="$(env ROS_HOSTNAME)"/>
    <group ns="$(arg robot_namespace)">
        <!-- Nodes that should be launched under a device HostName. -->
        <group  if="$(eval device_hostname == 'DevComputer2')">
            <group ns="$(arg device_hostname)">
                
                <include file="$(find config)/launch/NodeLaunch/Master_Node.launch">
                    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
                </include>
                <include file="$(find config)/launch/NodeLaunch/Snapshot_Node_Master.launch"> 
                <arg name="robot_namespace" value="$(arg robot_namespace)"/>
                </include> 
                <include file="$(find config)/launch/NodeLaunch/DataLogger_Node.launch"> 
                    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
                </include>
            </group>
            <include file="$(find config)/launch/NodeLaunch/Diagnostic_Node.launch">
                <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            </include>
            <include file="$(find config)/launch/NodeLaunch/Safety_Node.launch"> 
                    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
                    <arg name="device_hostname" value="$(arg device_hostname)"/>
            </include>
        </group>   <!-- EndGroup for DevComputer2--> 
        <group  if="$(eval device_hostname == 'ComputeModule1')">
            <group ns="$(arg device_hostname)">
                
                <include file="$(find config)/launch/NodeLaunch/Master_Node.launch">
                    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
                </include>
            </group>
            <include file="$(find config)/launch/NodeLaunch/GPS_Hat_Node.launch"> 
                    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            </include>
        </group>   <!-- EndGroup for ComputeModule1--> 
    </group>
</launch>
